.how_to_use {
	padding-top: 170px;

	.use_item {		

		img {
			display: inline-block;
			height: 290px;
			margin-bottom: 20px;	
		}

		p {
			font: 18px/18px 'quicksandregular';
			color: $dark_font_color;
		}
	}
} // end of .how_to_use

.nutrition {
	background-color: $orange_bg_color;	
	padding-bottom: 0;

	.heading {
		padding-bottom: 0;
		color: $white_color;
	}

	.structure {
		margin: 0 auto;
	}

	.fruits {
		width: 400px;
		height: 508px;
	}

	.endnote {
		position: absolute;

		.text {
			margin: 0;
			padding: 0 30px;			

			color: $white_color;

			.percent {
				font: 50px/45px 'quicksandregular';
			}

			.endnote_caption {
				font: 18px/12px 'quicksandregular';
			}
		}

		.vertical_line {
			width: 1px;
			height: 25px;
			margin: 22px 0;
			border-left: $white_color 1px solid;			
		}

		.horizontal_line {
			width: 160px;
			height: 35px;
			border-bottom: $white_color 1px solid;
		}

		.shift_left {
			margin-left: -15px;
		}

		.shift_right {
			margin-right: -15px;
		}

		.pulse {
			margin-top: 19px;
			width: 30px;
			height: 30px;

			border-radius: 50%;
			background: none;
			border: $white_color 1px solid;
			box-sizing: border-box;
			box-shadow: inset 0 0 20px $white_color; 

			animation: animate 3s linear infinite;
		}

		@keyframes animate
		{
			0% {
				box-shadow: inset 0 0 0 rgba(255, 109, 74, 0.7); 
			}

			50% {
				box-shadow: inset 0 0 0 rgba(255, 109, 74, 0.5); 
			}
		}
	}

	.water {
		top: 1725px;
		left: 265px;

		text-align: right;
	}

	.protein {
		top: 1742px;
		left: 790px;

		text-align: left;
	}

	.carbohydrates {
		top: 1855px;
		left: 280px;

		text-align: right;
	}

	.fat {
		top: 1850px;
		left: 750px;

		text-align: left;
	}
} // end of .nutrition

.order {
	background-color: #fbeecd;

	.order_item {
		height: 425px;
		border: $orange_bg_color 1px solid;
		border-radius: 20px;

		padding-top: 30px;

		h3 {
			padding-bottom: 20px;

			color: $dark_font_color;
			font: 24px/24px 'quicksandbold';
		}

		a {
			color: $orange_bg_color;

			&:hover {
				color: $orange_bg_color;
			}

			&:visited {
				color: $orange_bg_color;
			}
		}

		.buy_btn {
			border-color: $orange_bg_color;
			margin-bottom: 25px;

			&:hover {
				color: $white_color;
			}
		}

		p {
			padding-bottom: 30px;

			color: $dark_font_color;
			font: 16px/16px 'quicksandregular';
		}
	} // end of .order_item
} // end of .order