header {
	padding-top: 20px;
	height: 625px;
	background: $purple_bg_color url('../images/backgrounds/header_bg.png') no-repeat;
	background-size: cover;

	color: $white_color;
	text-align: center;

	a {
		color: $white_color;

		&:hover {
			color: $white_color;
		}

		&:visited {
			color: $white_color;
		}
	}

	.logo {
		 	
		img {
			-webkit-animation: spin 4s linear infinite;
    	-moz-animation: spin 4s linear infinite;
    	animation: spin 4s linear infinite;
		}

		span {
			vertical-align: middle;
			margin-left: 5px;

			font: 30px/40px 'quicksandbold';			
		}
	} // end of .logo

	@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
	@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
	@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

	nav {
		margin-bottom: 105px;

		ul {
			float: left;
			margin: 0;
		}

		ul li {
			float: left;  //set menu items horizontal
			margin-right: 40px;
		}

		ul a {
			display: block;
			font: 14px/40px 'quicksandregular';
			text-transform: uppercase;

			&:hover {
				text-decoration: underline;
			}
		}
	} // end of nav	

	h1 {
		font: 60px/60px 'quicksandbold'; 
		margin-bottom: 15px;
	}

	p {
		font: 16px/16px 'quicksandbold'; 
	}

	.img_wrapper {
		width: 893px;
		margin: auto;
	}

	.fruit_img	{
		position: absolute;
		display: inherit;
		margin-top: -215px;
	}
}